
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: #CCCDC5;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

.header {
    background: #212529;
    width: 100%;
    height: 100px;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
}

.header__logo{
    width: 110px;
    height: 80px;
    float: left;
    position: relative;
    margin: 10px 500px 5px 100px; 
    border-radius: 50px;
}

.header__menu {
    position: absolute;
    margin: 0 130px 0 500px;
    display: flex;
}

header nav ul li {
    
    margin-left: 50px;
    margin-top: 40px;
    position: relative;

    font-weight: bold;
    list-style-type: none;
}

.header__menuItem {
    text-decoration: none;
    color: #D7C7FF;
}

.mainIncio {
    width: 100%;
    position: relative;
    margin: 0;
}

.mainInicio section article img {
    width: 700px;
    height: 500px;
    margin: 100px 100px 0 0;
    position: relative;
}

main section article h2 {
    font-size: 24px;
    position: absolute;
    margin-left: 850px;
    margin-right: 100px;
    margin-top: -400px;
    display: inline;
}

main section article p {
    font-size: 16px;
    position: absolute;
    margin-top: -350px;     
    margin-left: 850px;
    margin-right: 100px;
    display: inline;
    text-align: justify;
}

.mainAsociate {
    position: relative;
    width: 100%;
    height: 2000px;
}

.mainAsociate__subtitulos {
    display:flex;
}

.mainAsociate .mainAsociate__subtitulos .mainAsociate__subtituloPrincipal {
    margin: 200px 0 0 100px;
    width: auto;
    position: absolute;
    display: flex;
    font-size: 48px;
    font-weight: bold;
}

.mainAsociate .mainAsociate__subtitulos .mainAsociate__subtituloSecundario {
    margin: 300px 0 0 100px;
    position: absolute;
    display: flex;
    font-size: 36px;
    font-weight: bold;
}


.mainAsociate__formulario {
    font-size: 24px;
    margin: 450px 100px 0 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
}


.mainAsociate__nombreApellido {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

}
.mainAsociate__nombre {
    display: flex;
    flex-direction: row;
    margin-right: 500px;
}

.mainAsociate__apellido {
    display: flex;
    flex-direction: row;
    margin-right: 550px;
}


.mainAsociate__nombreApellidoInput {
    display:flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.mainAsociate__correoContraseña {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}

.mainAsociate__correo {
    display:flex;
    flex-direction: row;
    margin-right: 315px;   
}

.correo {
    width: 300px;
}

.mainAsociate__contraseña {
    display:flex;
    flex-direction: row;
    margin-right: 550px;
}

.mainAsociate__correoContraseñaInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.mainAsociate__dniGenero {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.mainAsociate__dniGeneroInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.mainAsociate__dni {
    display: flex;
    flex-direction: row;
    margin-right: 560px;
}

.mainAsociate__genero {
    display: flex;
    flex-direction: row;
    margin-right: 550px;
}

.mainAsociate__sucursalPlan {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.mainAsociate__sucursal {
    display: flex;
    flex-direction: row;
    margin-right: 500px;
}

.mainAsociate__plan {
    display: flex;
    flex-direction: row;
    margin-right: 550px;
}

.mainAsociate__sucursalPlanInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.mainAsociate__input {
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    width: 540px;
    height: 100px;
    background-color: #d9d9d9;
    border-radius: 30px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
}


.mainSedes {
    position: relative;
    width: 100%;
    height: 2000px;
}

.mainSedes__subtituloPrincipal {
    margin: 180px 0 0 100px;
    width: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainSedes__subtituloPrincipalCentrado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}

.mainSedes__subtituloSecundario {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin: 370px auto 25px 130px;
}

.mainSedes__sucursal {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 100px;
}

.mainSedes p {
    position: relative;
    display:flex;
    flex-direction: column;
    margin: 25px auto 25px 100px;
}

.mainActividades {
    position: relative;
    width: 100%;
    height: 1800px;
}

.mainActividades__subtituloPrincipal {
    margin: 180px 100px 0 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1000px;
    font-size: 36px;
}

.mainActividades__subtituloPrincipal h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainActividades__entrenamientoFuncionalAeroLocal {
    margin: 250px auto 50px 100px;
    display: flex;
    flex-direction: row;
    font-size: 36px;
}

.mainActividades__entrenamientoFuncional {
    display: flex;
    flex-direction: row;
    position: relative;
}

.mainActividades__aeroLocal {
    margin-left: 115px;
    display: flex;
    flex-direction: row;
    position: relative;
}  

.mainActividades__entrenamientoFuncionalAeroLocalDescripciones {
    display:flex;
    flex-direction: row;
    position: absolute;
}

.mainActividades__entrenamientoFuncionalAeroLocalDescripcion1 {
    display: flex;
    flex-direction: row;
    margin: 0 100px 0 100px;
    position: relative;
    width: 450px;
}

.mainActividades__entrenamientoFuncionalAeroLocalDescripcion2 {
    display: flex;
    flex-direction: row;
    margin: 0 100px 0 100px;
    position: relative;
    width: 450px;
}

.v-line {
    border-left: #757575 solid thick;
    height: 1780px;
    left: 675px;
    position: absolute;
    margin-top: 200px;
}

.h-line1 {
    border-top: #757575 solid thick;
    width: 1100px;
    position: absolute;
    margin: 150px 100px 0 100px;
}

.h-line2 {
    border-top: #757575 solid thick;
    width: 1100px;
    position: absolute;
    margin: 150px 100px 0 100px;
}

.h-line3 {
    border-top: #757575 solid thick;
    width: 1100px;
    position: absolute;
    margin: 150px 100px 0 100px;
}

.mainActividades__aeroCombatRitmos {
    display: flex;
    flex-direction: row;
    margin: 250px 100px 0 0;
    position: relative;
}

.mainActividades__aeroCombat {
    display: flex;
    flex-direction: row;
    margin: 0 215px 0 100px;
    position: relative;
    font-size: 36px;
}

.mainActividades__ritmos {
    display: flex;
    flex-direction: row;
    margin: 0 100px 0 200px;
    position: relative;
    font-size: 36px;
}

.mainActividades__aeroCombatRitmosDescripciones {
    display: flex;
    flex-direction: row;
    position: absolute
}

.mainActividades__aeroCombatRitmosDescripcion3 {
    display: flex;
    flex-direction: row;
    margin: 50px 100px 0 100px;
    position: relative;
    width: 450px;
}

.mainActividades__aeroCombatRitmosDescripcion4 {
    display: flex;
    flex-direction: row;
    margin: 50px 100px 0 100px;
    position: relative;
    width: 450px;
}

.mainActividades__yogaAbdominales {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 250px auto 50px 100px;
    font-size: 36px;
}

.mainActividades__yoga {
    display: flex;
    flex-direction: row;
    position: relative;
}

.mainActividades__abdominales {
    display: flex;
    flex-direction: row;
    margin-left: 550px;
    position: relative;
}

.mainActividades__yogaAbdominalesDescripciones {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.mainActividades__yogaAbdominalesDescripcion5 {
    display: flex;
    flex-direction: row;
    margin: 0 100px 0 100px;
    position: relative;
    width: 450px;
}

.mainActividades__yogaAbdominalesDescripcion6 {
    display: flex;
    flex-direction: row;
    margin: 0 100px 0 100px;
    position: relative;
    width: 450px;
}


.mainActividades__estiramientosDescripcion {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mainActividades__estiramientos {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 36px;
    margin: 250px auto 50px 100px;
}

.mainActividades__descripcion {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 100px;
    width: 450px;
}

.mainNosotros {
    position: relative;
    width: 100%;
    height: 2000px;
}

.mainNosotros__subtituloPrincipal {
    display: flex;
    flex-direction: row;
}

.mainNosotros__subtituloPrincipal {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 200px 800px 0 100px;
    left: 350px;
    font-size: 48px;
    text-transform: uppercase;
    width: 500px;
}

.mainNosotros__subtituloSecundario {
    position: relative;
    margin: 140px 100px 50px 100px; 
    font-size: 36px;
}

.mainNosotros__listaDesordenada {
    position: relative;
    margin: 0 100px;
    font-size: 16px;
}

.mainNosotros__item {
    margin: 10px 0;
}

.mainNosotros__parrafos {
    position: relative;
    margin: 60px 100px;
    font-size: 16px;
    text-align: justify;
}

footer {
    background-color: #212529;
    width: 100%;
    height: auto;
    clear: both;
    content:"";
    display: table;
    font-family: 'Montserrat', sans-serif;
    color: #CCCDC5;
    position: absolute;
    z-index: 2;
}

footer div.footer__nuestrasRedes {
    position: relative;
    left: 80px;
}

footer div h4 {
    font-size: 16px;
    margin: 32px 0 13px 0;
    position: relative;
    left: 500px;
}

footer div ul li {
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
}

footer div ul li img {
    position: relative;
    left: 396px;
    top: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 100px;
}

hr {
    position: relative;
    top: 16px;
    margin-left: 100px;
    width: 1125px;
    
}

.footer__opciones {
    margin: 20px 80px 0 80px;
}

.opcion  {
    width: 200px;
    height: 25px;
    left: 90px;
    margin: 0 10px 30px 10px;
    padding: 10px 10px 30px 10px;
    display: inline-block;
    position: relative;   
}

.opcion1 {
    width: 250px;
    height: 25px;
    left: 90px;
    margin: 0 10px 30px 10px;
    padding: 10px 10px 30px 10px;
    display: inline-block;
    position: relative;   
}


.opcion a {
    display: inline-block;
    text-decoration: none;
    color:#D7C7FF
}

.opcion1 a {
    display: inline-block;
    text-decoration: none;
    color:#D7C7FF
}

.footer__copyright p {
    font-size: 14px;
    font-weight: lighter;
    position: relative;
    left: 450px;
    margin-bottom: 5px;
}

.copyright {
    width: 25px;
    height: 25px;
    position: relative;
    top: 8px;
}

main div div h2 {
    margin-top: 30px;
    margin-left: 100px;
    padding: 15px;
}

main div div ol {
    margin-top: 30px;
    margin-left: 100px;
    padding: 15px;
}

main div div label {
    margin-top: 30px;
    margin-left: 100px;
    padding: 15px;
}



